@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
		transform: rotate(-90deg);
    }
}

.dropdown-menu {
	border: 0px;
}

.navbar-light .navbar-nav .nav-link {
	color: #808080;
}

.navbar-light .navbar-nav .nav-link.active {
	color: #f05f40;
}

pre {
	font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif !important;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

hr {
	margin:0 auto !important
}

.slides img {
	width: 100%;
}

section {
	padding: 4rem 0;
	background-color: grey;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	width: 80%;
	margin-left: 10%
}

#page-top {
	background-color: black;
}

table {
	width: 100%
}

td {
	vertical-align: top
}

div.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

div.showContent {
    line-height: 1em;
    height: auto;
}

.warning {
	color: orange;
}

.custom-url, .custom-url:focus, .custom-url:hover  {
	color: #0c0c0c;
}