/* global */
#page-top {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
	
	background-image: url('../img/bridge-background-small.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-fluid {
	padding: 4rem 0;
	/* Fall-back for browsers that don't support rgba */
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .9);
}

.content-container {
	padding-left: 20px;
	padding-right: 20px;
}

.root-container-width {
	width: 85vw !important;
	margin: auto !important
}

.custom-url, .custom-url:focus, .custom-url:hover {
	color: #0c0c0c;
}

@media ( min-width : 767px) {
	.navbar-nav .dropdown-menu .caret {
		transform: rotate(-90deg);
	}
	#page-top {
		background-image: url('../img/bridge-background-large.jpg');
	}
}

/* nav */
#mainNav {
	background-color: black !important
}

#mainNav.navbar-shrink .navbar-brand {
	color: #c0c0c0 !important
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus
	{
	color: #c0c0c0 !important
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active
	{
	color: #fff !important
}

.custom-toggler.navbar-toggler {
	border-color: rgb(192, 192, 192);
}

.custom-toggler .navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu {
	border: 0px;
	padding: 5px;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .nav-link.active {
	color: #000;
}

/* tags */
pre {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

p {
	text-align: justify !important;
	word-break: break-word; /* Webkit-Browser */
}

hr {
	border-color: #000;
	margin: 0 auto !important
}

hr.large {
	max-width: 80%;
}

hr.vertical-center {
	margin-top: 2rem !important;
	margin-bottom: -7rem !important;
}

section {
	padding: 0 0;
}

table {
	width: 100%
}

td {
	vertical-align: top
}

/* slider */
.slides img {
	width: 100%;
}

/* show/hide */
div.hideContent {
	overflow: hidden;
	line-height: 1.5;
	height: 2.7em;
}

div.showContent {
	line-height: 1.5;
	height: auto;
}