@media print {
	#page-top {
		background-image: none;
	}
	
	.container-fluid {
		padding: 0 0;
	}
	
	hr.vertical-center {
	margin-top: 2rem !important;
	margin-bottom: 0 !important;
	}

	#mainNav {
		display: none;
	}
	
	.slides {
		display: none;
	}
	
	div.hideContent {
		overflow: visible;
		height: auto;
	}
	
	pre {
		border-color: white; 
	}
}