@media print {
	#page-top {
		background-image: none;
	}
	
	.container-fluid {
		padding: 0 0;
	}
	.root-container-width {
		width: 100vw !important;
		margin: auto !important
	}
	hr.vertical-center {
		margin-top: 2rem !important;
		margin-bottom: 0 !important;
	}

	#mainNav {
		display: none;
	}
	
	.slides {
		display: none;
	}
	
	.show-more {
		display: none;
	}
	
	.map {
		display: none;
	}
	
	div.hideContent {
		overflow: visible;
		height: auto;
	}
	
	pre {
		border-color: white; 
	}
}