.map {
	height:300px;
	width:-webkit-calc(100% + 40px);
	width:-moz-calc(100% + 40px);
	width:-o-calc(100% + 40px);
    width: calc(100% + 40px);
    margin-left: -20px;
}


@media ( min-width : 767px) { 
	.map {
	    width: 84.5vw;
	}
}

@media ( min-width : 992px) { 
	.map {
	    margin-left: -16vw;
	}
}

@media ( min-width : 1500px) { 
	.map {
	    margin-left: -15.5vw;
	}
}